@model PeopleViewModel;
@{
    ViewData["Title"] = "Persons";
}

<h2>Persons</h2>

<form class="form" id="filter" asp-controller="Persons" asp-action="Index" method="post">
    @Html.AntiForgeryToken()
    <label asp-for="filterN">Name filter:</label>
    <input asp-for="filterN" type="text" id="filterN" name="filterN" />
    <label asp-for="filterC">City filter:</label>
    <input asp-for="filterC" type="text" id="filterC" name="filterC" />
    <input class="btn btn-primary" type="submit" value="Search" />
</form>

<form class="form" id="person" asp-controller="Persons" asp-action="AddPerson" method="post">
    @Html.AntiForgeryToken()
    <label asp-for="Name">Name</label>
    <input asp-for="Name" type="text" id="Name" name="Name" required />
    <label asp-for="City">City:</label>
    <input asp-for="City" type="text" id="City" name="City" required />
    <label asp-for="PhoneNr">Phone:</label>
    <input asp-for="PhoneNr" type="text" id="PhoneNr" name="PhoneNr" required />
    <input class="btn btn-primary" type="submit" value="AddPerson" />
</form>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>People list:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">Nr.</div>
        <div class="col-lg-4">Name:</div>
        <div class="col-lg-3">City:</div>
        <div class="col-lg-3">PhoneNumber:</div>
        <div class="col-lg-1">ID:</div>
    </div>
    @foreach (PersonModel person in PeopleViewModel.PersonsListView)
    {
        <div class="row">
            <partial name="_persons" model="person" />
        </div>
    }
</div>



    @*<table class="tablePersons">
            <tdead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th> </th>
                </tr>
            </tdead>
            <tbody>
                @foreach (PersonModel person in PeopleViewModel.PersonsListView)
                {
                    <tr>
                        <partial name="_persons" model="person" />
                    </tr>
                }
            </tbody>
        </table>*@
